body{
    margin: 0;
    text-align: center;
    font-family:'Merriweather', serif;
    color: #40414E;
}
h1{
    margin-top: 100px;
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    font-family: 'Sacramento', sans-serif;
    color: #11999E;
}
.top-container{
    background-color: #e4f9f5;
    padding-top: 100px;
}
.middle-container{
   background-color: #b7d4ec;
   margin: 0;
}
.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}
p{
    line-height: 2;
}
hr{
    border: dotted white 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}
.top-cloud{
    position: absolute;
    right: 200px;
    top: 40px;
}
.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}
.hh2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    color:#11999E;
    margin-top: 80px;

}
.footer-link{
    color: #11999E;
    text-decoration: none;
    margin: 10px 20px;
}
.footer-link:hover{
    color: #e4f9f5;
}
.imgGIF{
    width: 25%;
    border-radius: 100px;
    float: left;
    margin-right: 30px;
}
.imgGIF1{
    height: 190px;
    width: 190px;
    border-radius: 100px;
    float: right;
    margin-right: 30px;
}
.MyImg{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin-top: 50px;
}
.intro{
    margin: auto;
    width: 30%;
}

.contact-msg{
    width: 40%;
    margin: 40px auto 60px;
}
.copyright{
    color: #e4f9f5;
    font-size: 0.75rem;
    padding: 20px 10px;
}
.mountain{
    margin-bottom: -4px;
}
.btn{
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
.btn:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.btn:active {
	position:relative;
	top:1px;
}
  
  
